body{
    background-color: bisque;
    font-size: x-large;
    margin-top: 0;
    font-family: Arial, sans-serif;
}

.container{
    max-width: 500px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}